
@{
    ViewBag.Title = "ActionFinish";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="p_space"></div>
<div id="main">
   
    <div class="finish-msg">Bạn đã mua hàng thành công !!!!</div>

</div>
<!-- End Main -->


