<div id="footer">
    <p class="left">
        <a href="/TrangChu/Index">Trang chủ</a>
        <span>|</span>
        <a href="/GioiThieu/Index">Giới thiệu</a>
        <span>|</span>
        <a href="/KhachHangLogin/Login">Tài khoản</a>
        <span>|</span>
        <a href="#">Hướng dẫn</a>
        <span>|</span>
        <a href="#">Liên hệ</a>
    </p>
    <p class="right">
        <font><i class="fa fa-phone " aria-hidden="true"></i>&nbsp;0123456789 &nbsp;&nbsp; &nbsp;&nbsp;
        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;123 Cầu giấy-Hà Nội.</font>
        @*&copy; 2016 Bookstore.*@
        
        @*Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide"></a>*@
        
    </p>
</div>
