<div id="slider" class="box">
    <div id="slider-holder">
        <ul>
            <li><a href="#"><img src="/images/giam-gia-sach-ngoai-ngu-giam-den-35-adayroi_805.jpg" alt="" /></a></li>
            <li><a href="#"><img src="/images/sach-hay-mua-thu.jpg" alt="" /></a></li>
            <li><a href="#"><img src="/images/banner_sachhay_NXBtrithuc.jpg" alt="" /></a></li>
            <li><a href="#"><img src="/images/banner-2.png" alt="" /></a></li>
        </ul>
    </div>
    <div id="slider-nav">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>
</div>
