.title-book{height: 38px;width: 835px;background:#ebfbfc;color:red;margin-top:15px;border-radius:15px;line-height:35px;padding-left:15px;font-size:16px;}


.center{width:200px;padding-left:50px;}
.detail-image{float:left; min-height:2px;margin-left:30px;margin-top:31px;}
.product-image1
{   
    height: 270px;
    width: 216px;
    border: 1px solid;

}
.product-image1 img{padding:6px;height: 260px;width: 205px;}
.detail-image ul{position: relative;margin-bottom: 20px;line-height: 1;border: 1px solid #ddd;height:50px;}
.detail-image ul li{padding: 2px;display:inline;height:50px;}
.detail-info{float:right;width:517px;padding:38px;}
.detail-status{height:40px;float:right;}
.product_name{height:40px;}
.product_name input{height:35px;width:40px;text-align:center}
a{text-decoration: none;}
.other{float:right;width:800px;}
.noidung{height:auto;width:835px;float:left;padding-left:30px;font-size:15px;}


span.price{
color:#ea2222;
}
span.reduce{
color:#999999;
text-decoration:line-through;
}
