@using ShopOnline.Entities;
@model List<DanhMuc>
@{
    foreach (var item in Model)
    {
        <li>
            <img src="/images/cat.gif" alt="" />&nbsp;&nbsp;
            <a href="@Url.Action("IndexSach_DanhMuc", "TrangChu", new { id = @item.MaDanhMuc }) ">@item.TenDanhMuc</a>
        </li>
    }
    <li class="last"><a  class="lasthide" id="hidedm" > << Thu gọn...</a></li>
}

