
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

<body>
    <div class="shell">

        <!-- Content -->
        <
        <div id="content">

            <!-- Content Slider -->
            @*@RenderPage("~/Views/Common/_Slider.cshtml")*@
            <!-- End Content Slider --
            <!-- Products -->
            <!--></-->
            <div class="products-titlebox">
                <div class="products-titlebox-left">

                    <h1>HƯỚNG DẪN</h1>

                </div>
                @*<div class="products-titlebox-right"></div>*@
            </div>
            <div>
                <div class="box categories">
                    <p>

                        <div align="center"><strong><span style="text-decoration: underline; font-size: medium; font-family: arial, helvetica, sans-serif;"><span style="color: #800080; text-decoration: underline;">HƯỚNG DẪN ĐĂNG KÝ THÀNH VIÊN</span></span></strong></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>
                    <p><strong>Để tiết kiệm thời gian trong những lần mua hàng sau và có thể kiểm tra đơn hàng của bạn bất cứ lúc nào, bạn vui lòng </strong><strong>Đăng ký thành viên</strong><strong> theo các bước sau:</strong></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 1</strong></span>: Bấm vào link <strong>Tạo tài khoản</strong></p>
                    <p><br> <img style="display: block; margin-left: auto; margin-right: auto; box-shadow: 10px 10px 5px #ccc; -moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; -khtml-box-shadow: 10px 10px 5px #ccc;" src=" ~/images/Imagesbook/1.png" alt=""></p>
                    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/tao-tai-khoan.jpg" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 2</strong></span>: Nhập đầy đủ thông tin trên trang tạo tài khoản. Chọn <strong>Đăng ký nhận tin định kỳ </strong>nếu bạn muốn <strong style="color: #ed1c24;">Shop</strong> gửi cho bạn thông tin về sách mới và các chương trình khuyến mãi. Bấm nút <strong>Gởi đi</strong> để hoàn tất.<br> <span style="color: #ff0000;">(*) là các trường bắt buộc</span><br> <img style="display: block; margin-left: auto; margin-right: auto;" src="~/images/Imagesbook/2.png" alt=" "></p>
                    <div align="center"><span style="text-decoration: underline; font-size: medium; font-family: arial, helvetica, sans-serif;"><span style="color: #800080;"><strong>HƯỚNG DẪN ĐĂNG NHẬP</strong></span></span></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>

                    <p><strong>Bạn vui lòng </strong><strong>Đăng nhập</strong><strong> vào tài khoản của bạn để mua hàng được nhanh chóng hoặc mỗi khi bạn muốn kiểm tra tình trạng các đơn hàng của bạn.</strong></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 1</strong></span>: Bấm vào <strong>Đăng nhập</strong> trên thanh menu ngang ở đầu trang</p>
                    <p>&nbsp;</p>
                    <p align="center"><img style="display: block; margin-left: auto; margin-right: auto; box-shadow: 10px 10px 5px #ccc; -moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; -khtml-box-shadow: 10px 10px 5px #ccc;" src="~/images/Imagesbook/3.png" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 2</strong></span>: Điền thông tin đăng nhập và bấm phím ENTER hoặc nhấp chuột vào nút <strong>Đăng nhập</strong> <br> <span style="color: #ff0000;">(*) là các trường bắt buộc</span><br> <img style="display: block; margin-left: auto; margin-right: auto;" src="~/images/Imagesbook/4.png" alt=""></p>

                    <div align="center"><span style="text-decoration: underline; font-size: medium; font-family: arial, helvetica, sans-serif;"><span style="color: #800080;"><strong>HƯỚNG DẪN ĐẶT HÀNG</strong></span></span></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 1</strong></span>: Để chọn sản phẩm cần mua bạn có thể sử dụng một trong hai cách:</p>
                    <p>Chọn mảng hàng hóa bạn cần mua trên thanh menu hoặc trong bảng “<strong>Nhóm sản phẩm</strong>” phía bên trái góc trên để màn hình hiển thị ra sản phẩm trong mảng hàng để chọn; hoặc</p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/dat-hang-1.jpg" alt=""></p>
                    <p>Nhập tên hoặc từ khóa trong tên sản phẩm cần tìm vào ô tìm kiếm</p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/dat-hang-2.jpg" alt=""></p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/bay-buoc.jpg" alt=""></p>
                    <p>Sau đó nhấn chọn tên sản phẩm để xem chi tiết hoặc bạn có thể nhấp vào XEM TRÍCH ĐOẠN để xem trích đoạn của sản phẩm hoặc nhấn CHỌN MUA để cho sản phẩm vào giỏ hàng</p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/bay-buoc-toi-mua-he.jpg" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 2</strong></span>: Nhấn nút <strong>Chọn mua </strong><strong>để cho sản phẩm vào giỏ hàng nếu số lượng mua là 1; nếu số lượng lớn hơn 1, bạn có thể nhập số lượng cần mua vào ô số lượng trước khi </strong><strong>chọn mua</strong><strong>, hoặc bạn có thể tùy chỉnh trong giỏ hàng của bạn</strong></p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/chon-mua.jpg" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 3</strong></span>: Kiểm tra thông tin giỏ hàng. Nếu bạn muốn tiếp tục mua hàng thì bấm vào <strong>Tiếp tục mua hàng</strong> ở phía bên trái của giỏ hàng hoặc biểu tượng Home ở đầu thanh menu ngang. Nếu không mua tiếp thì kiểm tra lại thông tin trong giỏ hàng rồi nhấp chuột vào nút <strong>THỰC HIỆN THANH TOÁN</strong></p>
                    <p align="center"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/chon-mua-1.jpg" alt=""></p>
                    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/gio-hang.jpg" alt=""></p>
                    <p>Sau khi nhấn <strong>THỰC HIỆN THANH TOÁN</strong> ở <strong>BƯỚC 3</strong>, bạn có thể chọn một trong ba cách thức sau đây: Nếu đây là lần đầu tiên bạn mua hàng tại <strong><strong style="color: #ed1c24;">FAHASA</strong></strong>, để tiết kiệm thời gian bạn nhập đầy đủ các thông tin <span style="color: #ff0000;">(*) là các trường bắt buộc</span> và chọn phương thức ‘<strong>Thanh toán</strong>’ rồi click vào <strong>Xác Nhận Đơn Hàng</strong></p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/thanh-toan-0.jpg" alt=""></p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/thanh-toan.jpg" alt=""></p>
                    <p style="text-align: justify;">Hoặc bạn cũng có thể tiến hành đăng nhập nếu bạn đã là thành viên của <strong><strong style="color: #ed1c24;">SHOP</strong></strong> tại bước này bằng cách chọn ‘<strong>Đăng nhập’</strong>, click chọn <strong>"Phương Thức Thanh Toán.", </strong>click chọn <strong>"Phương Thức Vận Chuyển "</strong> tiếp tục click chọn địa chỉ vận chuyển và thông tin ghi hoá đơn nếu có.</p>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/thanh-toan-10.jpg" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>BƯỚC 4 </strong></span>: Lựa chọn <a id="pttt"></a>phương thức thanh toán.&nbsp;<strong style="color: #ed1c24;">FAHASA</strong> cung cấp cho bạn nhiều phương thức thanh toán để bạn lựa chọn, chọn <strong>Phương thức thanh toán</strong> bạn chọn <strong>Cổng thanh toán </strong>mà bạn muốn thực hiện thanh toán rồi nhấn <strong>"Xác Nhận Đơn Hàng"</strong>.</p>
                    <p align="center"><img style="display: block; margin-left: auto; margin-right: auto; box-shadow: none;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/xac-nhan.jpg" alt=""></p>
                    <div align="center"><span style="text-decoration: underline;"><span style="color: #800080;"><strong>HƯỚNG DẪN HỦY ĐƠN HÀNG</strong></span></span></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>
                    <p>Khi mua hàng tại website <a href="http://www.fahasa.com/">http://www.fahasa.com</a> bạn&nbsp; có thể hủy đơn hàng nếu đơn hàng đó chưa được xác nhận<br> <img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/gio-hang-1.jpg" alt=""><br> Muốn Hủy đơn hàng bạn nhấn vào link <strong>Chỉnh sửa giỏ hàng</strong> sau đó chọn <strong>Xóa hết giỏ hàng</strong> để hủy đơn hàng</p>
                    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/gio-hang-10.jpg" alt=""></p>
                    <p>Trường hợp đơn hàng của bạn đã được xác nhận: nếu bạn thật sự cần Hủy đơn hàng, vui lòng gọi số <strong>1900636467 -hoặc- (08) 38 38 88 32</strong> gặp bộ phận chăm sóc khách hàng để được hỗ trợ.</p>
                    <div align="center"><span style="text-decoration: underline; font-size: medium; font-family: arial, helvetica, sans-serif;"><span style="color: #800080;"><strong>HƯỚNG DẪN XUẤT HÓA ĐƠN VAT</strong></span></span></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>
                    <p>Tất cả các đơn hàng mua tại&nbsp;<strong><strong><strong style="color: #ed1c24;">FAHASA</strong></strong></strong> đều xuất hóa đơn VAT và gửi kèm theo hàng giao.Do đó, bạn vui lòng điền đầy đủ thông tin cần thiết để xuất hóa đơn ở bước đặt hàng thứ 3, nếu không chúng tôi sẽ xuất theo thông tin đăng ký thành viên.<br> <strong>Lưu ý</strong>:<strong><strong><strong style="color: #ed1c24;">FAHASA</strong></strong></strong><span style="text-decoration: underline;"> chỉ xuất hóa đơn VAT một lần cho mỗi đơn hàng đúng theo hàng đã đặt mua. Và chúng tôi không giải quyết xuất hóa đơn VAT sau khi đã hoàn tất việc giao hàng</span></p>
                    <p><br><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.fahasa.com/media/wysiwyg/imghuongdan/ghi-hoa-don.jpg" alt=""></p>
                    <div align="center"><span style="text-decoration: underline; font-size: medium; font-family: arial, helvetica, sans-serif;"><span style="color: #800080;"><strong>HƯỚNG DẪN ĐỔI TRẢ HÀNG</strong></span></span></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>
                    <p><span style="text-decoration: underline;"><strong>ĐIỀU KIỆN ĐỔI TRẢ HÀNG </strong></span><br> Quí khách hàng vui lòng kiểm tra khi nhận hàng và phản ảnh cho Bộ phận chăm sóc khách hàng của&nbsp;<strong><strong><strong style="color: #ed1c24;">FAHASA</strong></strong></strong>về tình trạng hư hỏng của hàng hóa trong vòng 7 ngày tính từ ngày nhận hàng.<br> &nbsp;<strong><strong><strong style="color: #ed1c24;">SHOP</strong></strong></strong> chỉ chấp nhận đổi hàng cho khách hàng trong các điều kiện như sau:</p>
                    <ul>
                        <li>Hàng giao nhầm .</li>
                        <li>Hàng bị hư hỏng trong quá trình vận chuyển</li>
                        <li>Hàng bị lỗi kỹ thuật do Nhà sán xuất</li>
                    </ul>
                    <p>&nbsp;Nếu<strong><strong><strong style="color: #ed1c24;">SHOP</strong></strong></strong> không còn hàng để đổi và khách hàng không đồng ý đổi sang hàng khác thì khách hàng được quyền trả hàng với điều kiện khách hàng không làm gia tăng sự hư hỏng của sản phẩm, không đánh dấu riêng cho sản phẩm của mình và còn đầy đủ bao bì linh kiện của sản phẩm .<br> Nếu hàng gửi qua đường Bưu điện xin vui lòng gửi về địa chỉ các đơn vị gửi hàng.<br><strong>Hoặc</strong> :<br> <strong>PHÒNG THƯƠNG MẠI ĐIỆN TỬ</strong><br> <strong>236 Hoàng Quốc Việt-Cầu Giấy-Hà Nội</strong></p>
                    <p><em><strong><strong><strong style="color: #ed1c24;">SHOP</strong></strong></strong>&nbsp;không nhận đổi trả lại hàng do khách hàng đặt nhầm, sai tựa hoặc bị hư hỏng do phía khách hàng</em></p>
                    <div align="center"><span style="text-decoration: underline; color: #800080;"><span style="font-size: medium; font-family: arial, helvetica, sans-serif;"><strong>HOÀN TIỀN</strong></span></span></div>
                    <p align="center"><img src="http://www.fahasa.com/media/wysiwyg/imghuongdan/line-hd.gif" alt=""></p>
                    <p><strong><strong><strong style="color: #ed1c24;">FAHASA</strong></strong></strong>&nbsp; sẽ hoàn tiền lại cho khách hàng trong các trường hợp sau:</p>
                    <ul>
                        <li>Khách hàng thanh toán nhiều hơn trị giá đơn hàng đặt mua</li>
                        <li>Khách hàng đã thanh toán nhưng Fahasaonline không còn hàng để giao</li>
                        <li>Khách hàng đã thanh toán nhưng sau đó hủy đơn hàng thành công</li>
                    </ul>
                    <p><em>Tiền hoàn lại sẽ được chuyển vào tài khoản khách hàng đã sử dụng để mua hàng</em></p>
                    <p>&nbsp;</p>
                </div>
                </p>

            </div>
        </div>

       
        <!-- End Footer -->
    </div>
</body>

