
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />


<body>
    <div class="shell">
       

        <!-- Content -->
        <
        <div id="content">

            <!-- Content Slider -->
            @*@RenderPage("~/Views/Common/_Slider.cshtml")*@
            <!-- End Content Slider --
            <!-- Products -->
            <!--></-->
            <div class="products-titlebox">
                <div class="products-titlebox-left">

                    <h1>LIÊN HỆ WEB BÁN SÁCH</h1>

                </div>
                @*<div class="products-titlebox-right"></div>*@
            </div>
            <div>
                <div class="box categories">
                    <p>
                        <br />
                        <br />
                        <h3>Mọi thắc mắc cũng như đóng góp xin vui lòng gửi vào hòm thư Email: cskh@Bookstore.com.</h3>
                    </p>

                </div>
            </div>

 
            <!-- End Footer -->
        </div>
</body>



