@using ShopOnline.Entities;
@model List<TacGia>
@{
    foreach (var item in Model)
    {
        <li>
            <img src="/images/cat.gif" alt="" />&nbsp;&nbsp;
            <a href="@Url.Action("IndexSach_TacGia", "TrangChu", new { id = @item.MaTG }) ">@item.TenTG</a>
        </li>
    }
    <li class="last"><a  class="lasthide" id="hidetg"><< Thu gọn...</a></li>
}
