@using PagedList.Mvc;
@model PagedList.IPagedList<ShopOnline.Entities.Sach>

@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}


<div id="content">

    <!-- Content Slider -->
    @RenderPage("~/Views/Common/_Slider.cshtml")
    <!-- End Content Slider --
    <!-- Products -->
    <!--></-->
    <div class="products-titlebox">
        <div class="products-titlebox-left">
            <h2>
                <i class="fa fa-book" aria-hidden="true"></i>
                KẾT QUẢ TÌM KIẾM
            </h2>
        </div>
        <div class="products-titlebox-right"></div>
    </div>
    <div class="products">
        <ul>
            <div class="p_space"></div>

            @{
                foreach (var item in Model)
                {
                    <li>

                        <div class="product-image">
                            <a href="#"><img src="~/images/Imagesbook/@item.Anh" alt="" /></a>
                            <span>-@item.TinhTrangKM%</span>
                        </div>
                        <div class="product-info">
                            <div class="product-name">
                                <h3>
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    @item.TenSach
                                </h3>
                            </div>
                            <div class="product-price-2">
                                @{
                    int price = (int)item.DonGia;
                    int price2 = (int)(item.DonGia - item.DonGia * item.TinhTrangKM / 100);
                    <h3>
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span class="reduce">@price VNĐ</span><span class="price">@price2 VNĐ</span>
                    </h3>
                                }
                            </div>
                            <a href="#">
                                <div class="product-action">
                                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                    <div class="text-cart">MUA NGAY</div>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            }


        </ul>
        <div class="cl">&nbsp;</div>
    </div>



    <!-- End Products -->
    <div class="p_space"></div>
    @Html.PagedListPager(Model, page => Url.Action("TimKiem", "TrangChu", new { page }))
</div>

<!-- End Content -->
