
@{
    ViewBag.Title = "Panelo";
    Layout = "~/Views/Shared/_LayoutPanelo.cshtml";
}

@section DS
{
 <ul>
    <li><a href="~/KhachHang/List">Khách hàng</a></li>
    <li><a href="~/NhanVien/List">Nhân viên</a></li>
    <li><a href="~/Sach/List">Sách</a></li>
    <li><a href="~/TacGia/List">Tác giả</a></li>
    <li><a href="~/TheLoai/List">Thể loại</a></li>
    <li><a href="~/DanhMuc/List">Danh mục</a></li>
    <li><a href="~/ChiTietHoaDon/List">Chi tiết hóa đơn</a></li>
    <li><a href="~/HoaDon/List">Hóa đơn</a></li>
    <li><a href="~/QuangCao/List">Quảng cáo</a></li>
    <li><a href="~/SangTac/List">Sáng tác</a></li>
    <li><a href="~/NXB/List">Nhà xuất bản</a></li>
</ul>
}
